NEXT_PUBLIC_SUPABASE_URL=https://zkiavxldremirlvcmoef.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
REMINDERS_FROM_EMAIL=Moreel Leiderschap <reminders@example.org>
REMINDERS_CRON_SECRET=
